 html,body{
    font-family: 'helvetica',sans-serif;
}
 @font-face {
     font-family: 'helvetica';
     src: url("../public/assets/font/Helvetica-Font/Helvetica.ttf");
     font-weight: 400;
 }

  @font-face {
      font-family: 'helvetica';
      src: url("../public/assets/font/Helvetica-Font/HelveticaBold.ttf");
      font-weight: 700;
  }
.swiper-button-next:after {
display: none;
}
.swiper-button-prev{
        left: var(--swiper-navigation-sides-offset, -52px) !important;
}
.swiper-button-next{
        right: var(--swiper-navigation-sides-offset, -52px) !important;
}

.swiper-button-prev:after {
  display: none;
}
.swiper-wrapper{
    margin-bottom: 50px;
}
::-webkit-scrollbar{
    height: 4px;
    width: 4px;
}
::-webkit-scrollbar-thumb{
    background: #00A8E8;
}
.swiper-button-prev:hover{
background-color: black;
}