 html,body{
    font-family: 'helvetica',sans-serif;
}
 @font-face {
     font-family: 'helvetica';
     src: url("./assets/font/Helvetica-Font/Helvetica.ttf");
     font-weight: 400;
 }

  @font-face {
      font-family: 'helvetica';
      src: url("./assets/font/Helvetica-Font/HelveticaBold.ttf");
      font-weight: 700;
  }